@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Cairo', sans-serif;
}

.btn-primary {
  @apply bg-primary text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition-colors;
}

.card {
  @apply bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow;
}
